* {
    box-sizing: border-box;
}

body{
    background-color: #d8d8d8;
    font-family: 'Roboto Condensed', sans-serif;

}

h1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 5%;
}
.container {
    background-color:#F0f0f0;
    margin-top: 5%;
    padding-top:5px;
    padding-bottom: 20px;
}

.content {
    background-color: white;
    padding:40px 40px 60px 40px;
    width: 100%;
    border-radius: 5px;
    

}

#display{
    width:100%;
    border: 1px dashed gray;
    border-radius: 10px;
    height: 200px;
}


button {
    border-radius: 25px;
    font-size: 1.2em;
    color: white;
    padding:10px;
    /*letter-spacing: 0.1em;*/
    display: inline;
}

#copy {
    float: right;
    background-color: #696969;
    border: solid 1px #696969;
    display: inline;
}

#create {
    background-color: #B22222;
    border: solid 1px #B22222;
    display: inline;
}

input {
    word-break: break-all;
    overflow-wrap: break-word;
}

@media (min-width:370px) and (max-width:760px){
    button{
        display: block;
    }
    #create{
        margin-top: 0px;
    }
    #copy{
        margin-top: 10px;
        float: left;
    }
    
    
}